:root {
  --accent-color: #1e90ff;
}

* {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ital {
  font-style: italic;
}

#main-content {
  max-width: 600px;
  min-width: 300px;
}

.sticky-nav {
  font-size: x-large;
  position: fixed;
  top: 250px;
  text-align: end;
}

.nav-icon {
  float: right;
}

.section-head {
  padding-top: 120px;
}

.nav-link {
  color: var(--accent-color);
  --bs-nav-link-padding-y: 1rem;
}

.xs-nav {
  /* left: 0px; */
  color: var(--accent-color);
  height: 35px;
  text-align: center;
  padding: 5px 0px;
}

.xs-nav-icon {
  padding: 0px 5px;
}

.entry-title {
  margin-bottom: 2px;
}

.entry-subtitle {
  color: grey;
  font-size: small;
}

.entry-sublist-title {
  margin-top: 8px;
  margin-bottom: 0px;
}

.entry-body {
  margin-top: 5px;
}

ul.no-bullets {
  list-style-type: none;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.contact-block {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 15px;
}

.fa {
  padding: 2px;
  font-size: 12px;
  width: 20px;
  text-align: center;
  /* text-decoration: none; */
  vertical-align: top;
  margin: 4px 0px;
}

.fa-linkedin {
  background: var(--accent-color);
  color: white;
}