* {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#main-content {
  max-width: 600px;
}

.margin {
  min-width: 150px;
}

.sticky-nav {
  font-size: x-large;
  position: fixed;
  top: 250px;
}

.section-head {
  padding-top: 100px;
}

.nav-link {
  --bs-nav-link-padding-y: 1rem;
}